{% extends 'base.html' %}

{% load static %}
{% block menu %}
<link rel="stylesheet" href="{% static 'Scss/personal-cabinet.css' %}">
<!-- <link rel="stylesheet" href="{% static 'Scss/animation.css' %}"> -->

    <style>
        .header{
            height: 65px !important;
        }
        .search{
            visibility: hidden;
        }
    </style>

        <section id="personal-cabinet">
            <div class = "d-flex align-items-center ml-0 ml-md-4 mt-4 mt-md-0 my-5 justify-content-center">
                
                <!-- <img src="../Icons/edit.svg" alt="" class = "icons-style ml-4 cursor-pointer" onclick = "falseDisabled(this)"> -->
                <div class="btn btn-outline-danger ml-2 p-2 px-4 done-input-change" onclick = "trueDisabled(this)">Bitdi</div>
            </div>

       
           
                <div class="col-12 d-flex align-items-end">
                    
                    <h3 class="section-title font-weight-bolder ml-3 text-danger" style="color: #6679fb !important;">Elanlarım</h3>
                </div>
            </div>

            <div class="books d-flex justify-content-around flex-wrap">
                {% for post in post_list %}
                
                <div class="card mb-5 border-5 shadow" style="max-width: 36rem; max-height: 105px !important; border-radius: 15px;">
                    {% if post.preminium == True %}
                    <div class="premium">Premium</div>
                    {% endif %}
                   

                    <div class="row no-gutters">
                        <div class="" style="border-radius: 50% !important; height: 100px; width: 100px; padding: 9px; padding-left: 15px;">
                            {% if post.image %}
                            <img src="{{ post.image.url }}"  style="border-radius: 50% !important; object-fit: cover; width: 100%; height: 100%;"  class="card-img rounded shadow" alt="...">
                            {% else %}
                            <img src="{% static 'Icons/defaultimg.jpeg' %}"  style="border-radius: 50% !important; object-fit: cover; width: 100%; height: 100%;"  class="card-img rounded shadow" alt="...">
                            {% endif %}                        </div>
                        <div class="col-8">
                            <div class="card-body" style="height: 100%;">
                                <p class="blockquote text_color m-0 mb-1"><span style="color: black;">#{{ post.category.title }}</span></p>
                                <h2 style="font-weight: 700;">{{ post.title }}</h2>
                                <div  style="display: flex;
                                justify-content: space-between;
                                position: absolute;
                                width: 100%;
                                height: 13px;
                                margin-top: -2px;">

<div class="row no-gutters p-2">
    <div class="col-6 text-center px-3">
        <a style="margin-right: 17px;" href = "{% url 'update' post.id %}" class="btn btn-lg btn-block btn-success text-white px-5" onclick = "showCabinetBook()">
            Düzəlt</a>
    </div>
    <div class="col-6 text-center px-3">
        <div class="btn btn-lg btn-block btn-danger px-5">
        <a style="text-decoration: none; color: white;" href="{% url 'delete' post.id %}">Sil</a>   
        </div>
    </div>
</div>
                                    
                                        <!-- <img onclick="showCabinetBook()" src="{% static 'Icons/settings.svg' %}" alt="" class="icons-style m-0 mr-2 cursor-pointer" style = "width: 1.8rem;" onclick = "showCabinetBook()"> -->
                                       
                                    
                                    
                                    <!-- <div class="col-6 justify-content-end d-flex align-items-center pt-3" style="padding-right: 0 !important; padding-top: 5px !important;">
                                        <span style="font-size: 15px; float: right;">{{ post.like }}</span>
                                        <img src="{% static 'Icons/favorite_border.svg' %}" alt="" class="mr-2 cursor-pointer" style = "width: 2.2rem" onclick = "changeFavorite(this)">
                                        
                                        
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- <div class="cabinet-book-dropdown" style="z-index: 100000;">
                    <img src="{% static 'Icons/close.svg' %}" alt="" class = "close-cabinet-dropdown cursor-pointer position-absolute animation-close-button" onclick = "showCabinetBook()">
                    <div class="book-dropdown-bg" onclick = "showCabinetBook()"></div>
                    
                    <div class="card mb-3 border-0 shadow" style="max-width: 40rem;">
                        <div class="row no-gutters">
                            <div class="col-4 p-4">
                            {% if post.image %}
                            <img src="{{ post.image.url }}"  style="border-radius: 50% !important; object-fit: cover; width: 100%; height: 100%;"  class="card-img rounded shadow" alt="...">
                            {% else %}
                            <img src="{% static 'Icons/defaultimg.jpeg' %}"  style="border-radius: 50% !important; object-fit: cover; width: 100%; height: 100%;"  class="card-img rounded shadow" alt="...">
                            {% endif %} 
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <p class="blockquote text-danger m-0 mb-1">{{ post.category }}</p>
                                    <p class="blockquote-footer text-muted font-italic m-0">Adı:</p>
                                    <p class = "h5">{{ post.title }}</p>
                                    
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters p-2">
                            <div class="col-6 text-center px-3">
                                <a href = "{% url 'update' post.id %}" class="btn btn-lg btn-block btn-success text-white px-5" onclick = "showCabinetBook()">
                                    Düzəlt</a>
                            </div>
                            <div class="col-6 text-center px-3">
                                <div class="btn btn-lg btn-block btn-danger px-5">
                                <a style="text-decoration: none; color: white;" href="{% url 'delete' post.id %}">Sil</a>   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div> -->
          
            {% endfor %}
                
            </div>
         
        </section>


    </div>



    <!-- <section class="footer text-center p-5" style = "background: var(--secondColor);">

        <div class="d-flex align-items-center w-100 justify-content-center">
            <img src="../Icons/copyright.svg" alt="" class = "pr-2" style = "width: 2rem;">
            <span class="h5 text-white m-0">2020 BuyBook - müəllif hüquqları qorunur.</span>
        </div>

        <div class="text-center">
            <a href="#" class = "sosial-media-icon"><img src="../Icons/gmail.png" alt=""></a>
            <a href="#" class = "sosial-media-icon"><img src="../Icons/facebook.png" alt=""></a>
            <a href="#" class = "sosial-media-icon"><img src="../Icons/twitter.png" alt=""></a>
            <a href="#" class = "sosial-media-icon"><img src="../Icons/instagram.png" alt=""></a>
        </div>

    </section> -->
    
    
    


    
   <script>
       // seting iconuna click zamani

// function showCabinetBook(){
//     let cabinetBookDropdown = document.querySelector(".cabinet-book-dropdown");
//     cabinetBookDropdown.classList.toggle("cabinet-book-dropdown-active");
// }


// // pen e click zamani ad soyad yazma aktiv olmasi

// function falseDisabled(e){
//     e.parentElement.children[0].disabled = false;
//     e.parentElement.children[0].focus();
//     var val = e.parentElement.children[0].value; //store the value of the element
//     e.parentElement.children[0].value = ''; //clear the value of the element
//     e.parentElement.children[0].value = val;
//     e.parentElement.children[2].style.display = "block";
// }

// function trueDisabled(e){
//     e.parentElement.children[0].disabled = true;
//     e.parentElement.children[2].style.display = "none";
// }
//    </script>
    
    <div class="align-items-center justify-content-center cursor-pointer bg-danger p-3 rounded-lg shadow go-to-back" onclick = " goToBack()">
        <img src="{% static 'Icons/up-arrow.svg' %}" alt="" class = "icons-style">
    </div>

    {% endblock %}

   

