{% extends 'base.html' %}

{% load static %}
{% block menu %}
        
        <!-- categories -->
        <section id="categories" class = "mb-5">
            
          

            <div class="row mt-5 d-flex justify-content-around align-items-center">

                <div class="col-1 m-0 p-0 d-sm-flex d-none align-items-center justify-content-center">
                    <img src="{% static 'Icons/keyboard_arrow_left-24px.svg' %}" alt="" class = "icons-style cursor-pointer" onclick = "categoriyaScrollLeft()"> 
                </div>

                <div class="col-12 col-sm-10 d-flex m-0 p-0 align-items-center categories">
                    <ul class = "list-unstyled d-flex m-0 w-100 h3 categories-list">
                        {% for cat in categories %}
                        <li><a href="/?category={{ cat.title }}" style="text-decoration: none; color: black;">{{ cat.title }}</a></li>
                        {% endfor %}
                        
                        <!-- <li><span class="top50">Top 50</span></li>
                        <li>Klassik</li>
                        
                        <li>Psixologiya</li>
                        <li>Tarix</li>
                        <li>Hüquq</li>
                        <li>Bioqrafiya</li>
                        <li>Dərslikər/Testlər</li>
                        <li>Şəxsi İnkişaf</li>
                        <li>Bədii Ədəbiyyat</li>
                        <li>Uşaq ədəbiyyatı</li>
                        <li>Romantik</li>
                        <li>Digər</li> -->
                        
                    </ul>
                </div>

                <div class="col-1 m-0 p-0 d-sm-flex d-none align-items-center justify-content-center">
                    <img src="{% static 'Icons/keyboard_arrow_right-24px.svg' %}" alt="" class = "icons-style cursor-pointer" onclick = "categoriyaScrollRight()"> 
                </div>

            </div>

        </section>

        <!-- <section class="campaign">
               {% for reklam in reklam %}
                <img src="{{ reklam.img.url }}" alt="" class = "w-100">
                {% endfor %}
        </section> -->

        <!-- <div class="no-result">
            Nəticə yoxdur
        </div> -->

        <!-- en son yuklenenler -->
        <section id="most-loaded-books">

            <div class="row border border-left-0 border-right-0 border-top-0 pb-3 mb-5" style = 'border-color: var(--thirdColor);'>
                <div class="col-12 d-flex align-items-end">
                    <img src="{% static 'Icons/icon2.png' %}" alt="" class="icons-style ml-2">
                    <h3 class="section-title font-weight-bolder ml-3 text_color" style="margin-top: 10px; color: rgb(102, 121, 251) !important;">TOP 50</h3>
                </div>
            </div>

            <div class="books d-flex justify-content-around flex-wrap posts" >
                <!-- book card start -->

                {% for post in post %}
                <a target="_blank" href="{{ post.link }}" style="color: black; text-decoration: none; height: 105px;">
                <div class="card mb-5 border-5 shadow" style="max-width: 36rem; max-height: 105px !important; border-radius: 15px;">
                    {% if post.preminium == True %}
                    <div class="premium">Premium</div>
                    {% endif %}
                    
                    <div class="socialmediaicn" style="position: absolute; right: 17px; top: 10px; height: 28px; width: 28px;"><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" width="100%" height="100%"/></div>
                    

                    <div class="row no-gutters">
                        <div class="" style="border-radius: 50% !important; height: 100px; width: 100px; padding: 9px; padding-left: 15px;">
                            <img src="{{ post.image.url }}"  style="border-radius: 50% !important; object-fit: cover; width: 100%; height: 100%;"  class="card-img rounded shadow" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body" style="height: 100%;">
                                <p class="blockquote text_color m-0 mb-1"><span style="color: black;">#{{ post.category.title }}</span></p>
                                <h2 style="font-weight: 700;">{{ post.title }}</h2>
                                <div class="row" style="display: flex; justify-content: space-between; ">
                                    <div></div>

                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
                
            </div>
         
        </section>

           <!-- reklam -->
        {% for reklam in banners %}
            {% if reklam.order == 1 %}
           <a href="{{ reklam.link }}">
             <div class="w-100 shadow p-5 my-4">
                <img src="{{ reklam.img.url }}" alt="">
            </div>
        </a>
            {% endif %}
        {% endfor %}
        <!-- en cox baxilanlar -->

       

           <!-- reklam -->
        {% for reklam in banners %}
            {% if reklam.order == 1 %}
           <a href="{{ reklam.link }}">
             <div class="w-100 shadow p-5 my-4">
                <img src="{{ reklam.img.url }}" alt="">
            </div>
        </a>
            {% endif %}
        {% endfor %}
        

   

        <!-- elaqe -->
        <!-- <section id="contact">
                
            <div class="row border border-left-0 border-right-0 border-top-0 pb-3 mb-5" style = 'border-color: var(--thirdColor);'>
                <div class="col-12 d-flex align-items-end">
                    <img src="Icons/mail.svg" alt="" class="ml-2">
                    <h3 class="section-title font-weight-bolder ml-3 mb-1 text_color">Əlaqə</h3>
                </div>
            </div>

            <h3 class="h3 text-center">Reklam və İş birliyi üçün</h3>
            
            <form action="#" class="w-100 my-5">
                <div class="row">
                    
                    <div class="col-md-6 col-12 text-center text-md-right my-5 my-md-0 pr-md-5 px-4">
                        <input type="text" class = "m-md-2 m-0 p-0 p-md-2 pl-0 pl-md-4 p-0 py-3 border-0 w-100 w-md-50 h3" placeholder="Adınız.." style = "outline: none;border-bottom: .1rem solid var(--thirdColor) !important;"><br>
                        <input type="text" class = "m-md-2 m-0 p-0 p-md-2 pl-0 pl-md-4 p-0 py-3 border-0 w-100 w-md-50 h3" placeholder="Mailiniz..." style = "outline: none;border-bottom: .1rem solid var(--thirdColor) !important;"><br>
                        <input type="text" class = "m-md-2 m-0 p-0 p-md-2 pl-0 pl-md-4 p-0 py-3 border-0 w-100 w-md-50 h3" placeholder="Mail başlığı..." style = "outline: none;border-bottom: .1rem solid var(--thirdColor) !important;">
                    </div>
                    
                    <div class="col-md-6 col-12 text-center text-md-left pl-md-5 p-4">
                        <textarea name="" id="" cols="30" rows="5" class = "w-md-75 w-100 h3 p-2 pl-4 border-0" placeholder="Mesajınız..." style = "outline: none;border: .1rem solid var(--thirdColor) !important;"></textarea>
                    </div>
                    
                </div>

                <div class="text-center my-5">
                    <button class="btn btn-lg btn-outline-danger">Submit</button>
                </div>

            </form>

        </section> -->

    </div> 

        {% endblock %}
  